h1{
	
}

body{
		background-color: white;
		font-family: "Arial";
		font-weight: bold;
		text-align: center;
}

.act, .laact, .notact, .lanotact{
		text-decoration:none;
		margin: 10px 10px 1px 10px;
		font-family: "Arial black";
		
}


.laact, .lanotact{
		float: right;
}

.act, .notact{
	float:left;
}

a:hover{
	padding: 3px;
	border: 2px dotted black;
	border-radius: 20px;
}

a.nohover:hover{
	border: None;
	padding: None;
	border-radius: None;
}

h1, h2{
	font-family: "Arial black";
}
